body, html {
  /* max-width: 100%; */
  overflow-x: hidden;
}

body {
  margin: 0;
  text-align: center;
  line-height: 1.25em;
  font-size: 1em;
  font-family: 'Alegreya', monospace;
  background-color: #0b0b0d;
}

h1 {
  color: #ebebe3;
  font-size: 5.625em;
  line-height: 2em;
  margin-top: 50px auto 0 auto;
  font-family: 'Krub', monospace;
}

h2 {
  color: #2b2b28;
  font-family: 'Alegreya', monospace;
  font-weight: normal;
}

.card h3, .card h1 {
  color: #2b2b28;
}

h3 {
  color: #ebebe3;
  font-family: 'Alegreya', monospace;
}

.top-container {
  background-color: #0b0b0d;
  position: relative;
  padding-top: 3%;
  padding-bottom: 0%;
  height: 100vh;
}

.cloud-container{
  background-color: #d3d5fd;
  position:fixed;
  float: left;
  /* margin-left: 2%; */
  border-left: 50px solid #0b0b0d;
  height: 100vh;
  width: 5vw;
  overflow:hidden;
  z-index:99;
}

.card{
  background-color: #7971ea;
  margin-top: 18%;
  padding: 30px;
  position: absolute;
  text-align: right;
  width: 55%;
  z-index: 2;
  display: inline-block;
  left: 0px;
}

.portrait-card {
  margin-left: 50%;
  padding-right: 5%;
  height: 981px;
  width: 653px;
  /* height: 100%;
  width: 32%; */
  position: relative;
  float: right;
  display: inline-block;
}

.portrait {
  border-right: 5px solid #7971ea;
  /* height: inherit;
  width: inherit; */
  animation: grayscale-fade-in 1s ease-in forwards;
  z-index: 2;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

@keyframes grayscale-fade-in {
    0%   { -webkit-filter: grayscale(100%); }
    100% { -webkit-filter: grayscale(0%); }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  h1{
    font-size: 3.625em;
    line-height: 1.5em;
    margin-top: 25px auto 0 auto;
  }

  .portrait-card {
    margin-left: 50%;
    padding-right: 5%;
    height: 785px;
    width: 522px;
  }

  .card {
    margin-top: 18%;
    padding: 50px;
    width: 50%;
    z-index: 2;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  h1{
    font-size: 2.625em;
    line-height: 1.1em;
    margin-top: 25px auto 0 auto;
  }

  .portrait-card {
    margin-left: 50%;
    padding-right: 5%;
    height: 785px;
    width: 522px;
  }

  .card {
    margin-top: 18%;
    padding: 50px;
    width: 45%;
    z-index: 2;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  h1{
    font-size: 2.625em;
    line-height: 1.1em;
    margin-top: 25px auto 0 auto;
  }

  .portrait-card {
    margin-left: 50%;
    padding-right: 5%;
    height: 785px;
    width: 522px;
  }

  .card {
    margin-top: 18%;
    padding: 50px;
    width: 45%;
    z-index: 2;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1{
    font-size: 2.625em;
    line-height: 1.1em;
    margin-top: 25px auto 0 auto;
  }

  .portrait-card {
    margin-left: 50%;
    padding-right: 5%;
    height: 785px;
    width: 522px;
  }

  .card {
    margin-top: 18%;
    padding: 50px;
    width: 30%;
    z-index: 2;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  h1{
    font-size: 2.625em;
    line-height: 1.1em;
    margin-top: 25px auto 0 auto;
  }

  .top-container {
    background-color: #0b0b0d;
    padding-top: 3%;
  }

  .portrait-card {
    margin-left: 50%;
    padding-right: 5%;
    height: 392px;
    width: 261px;
  }

  .card {
    margin-top: 18%;
    padding: 50px;
    width: 25%;
    z-index: 2;
  }
}


/* .portrait-card:hover .portrait {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
} */

p {
  color: #2b2b28;
  font-family: 'Alegreya', monospace;
  font-weight: normal;
}

.middle-container {
  position: relative;
  background-color: #0b0b0d;
}

.about {
  float: right;
  border-left: 5px solid #7971ea;
  padding-left: 2%;
  background-color: #0b0b0d;
  margin-left: 50%;
  text-align: left;
  line-height: 2em;
}

.about h2 {
  color: #ebebe3;
  font-size: 2.2em;
  padding-top: 10%;
  padding-bottom: 20%;
}

.about p {
  color: #ebebe3;
  font-size: 1.2em;
  padding-bottom: 20%;
}

/* p.words {
  word-wrap: normal;
} */

.about #final-about-p{
  padding-bottom: 10%;
}

.skills {
}

.skills p {
  color: #ebebe3;
  font-size: 1.2em;
}

.skills h3 {
  font-size: 2em;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.software-image {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.chili-image {
  width: 15%;
  float: right;
  margin-left: 30px;
}


.bottom-container {
  font-size: 1.5em;
  position: relative;
  color: #0b0b0d;
  padding-top: 1%;
  z-index: 100;
  text-align: center;
  background-color: #474a56;
}

.bottom-container h3 {
  font-weight: lighter;
}

.bottom-container h2 {
  font-size: 2em;
  color: #ebebe3;
}
